/* Login.css */
.container2{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    height: 100vh;
    background-color: #f4f4f4; /* Add your preferred background color */
    margin-top: 0px;
    margin: auto;
    width: 100%;
  }
  
  .login-container {
    display: flex;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
    height: 100%;
    align-items: center;
  }
  
  .login-image-container {
    flex: 1;
    height: 100%;
    margin: 30px;
  }
  
  .login-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 15%;
  }
  
  .login-form-container {
    flex: 1;
    /* padding: 20px;
    margin: 30px; */
    background-color: #dff1d6;
    /* padding: 30px; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 50%;
    margin-top: -20%;
    margin: 0;
    width: 50%;
    padding: 10px;

  }
  
  .login-form {
    /* max-width: 60%; */
    /* margin: 0 10%; */
    /* padding: ; */
  }
  
  .login-form-group {
    margin-bottom: 20px;
  }
  
  .login-form-label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form-control-login {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .text-danger {
    color: #ff0000;
  }
  
  .btn-login {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff; /* Add your preferred button color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-login:hover {
    background-color: #0056b3; /* Add your preferred button hover color */
  }
  